body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: #1c5ea5;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.item-name {
    flex: 1;
    font-size: 18px;
}
.item-price {
    width: 90px;
    text-align: right;
    font-size: 16px;
    font-style: italic;
}
#form-apartamento {
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    width: inherit;
    margin-bottom: 10px;
}
#num-apartamento {
    border-radius: 10px;
    width: 30%;
    text-align: center;
    padding: 5px;
    font-size: 40px;
}
.quantity-controls {
    display: flex;
    align-items: center;
}
.quantity-button {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
    line-height: 30px;
    background-color: #094196;
    color: white;
    border: none;
    border-radius: 5px;
}
#item-list {
    margin-top: 5px;
}
#total {
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
    font-style: oblique;
}
.fixed-footer {
    background-color: #ffffff;
    border-top: 5px solid #ccc;
    position: sticky; 
    display: flex;
    bottom: 0; 
    left: 20px; 
    right: 20px;
    background: #fff;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.fixed-footer h3 {
    margin-right: auto;
}
.share-button {
    background-color: #52ff4c;
    border-radius: 10px;
    border: none;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    align-items: center;
    cursor: pointer;
    margin-left: auto; /* Alinha à direita */
}

.share-button img {
    width: 25px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}
